<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Contact Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">Contact us</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/}" th:object="${form}" method="post">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="type" class="col-form-label">Kind of Request</label>
                        <select th:field="*{type}" class="form-control" id="type">
                            <option th:each="type : ${types}" th:value="${type.getType().name()}"
                                    th:text="${type.type.getName()}"></option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="policyNumber" class="col-form-label">Policy Number</label>
                        <input type="text" th:field="*{policyNumber}" class="form-control" id="policyNumber">
                        <span th:if="${#fields.hasErrors('policyNumber')}" th:errors="*{policyNumber}"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="name" class="col-form-label">Name</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name">
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="surname" class="col-form-label">Surname</label>
                        <input type="text" th:field="*{surname}" class="form-control" id="surname">
                        <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="requestText" class="col-form-label">Your Request</label>
                        <textarea th:field="*{requestText}" class="form-control"
                                  id="requestText"></textarea>
                        <span th:if="${#fields.hasErrors('requestText')}" th:errors="*{requestText}"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <span th:text="${validationError}" style="color: red"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Send Request">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>