<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
  <title>ContactApp</title>
</head>
<body>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Kind of Request</th>
    <th scope="col">Policy Number</th>
    <th scope="col">Name</th>
    <th scope="col">Surname</th>
    <th scope="col">Your Request</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="form : ${forms}">
    <td th:text="${form.type}"></td>
    <td th:text="${form.policyNumber}"></td>
    <td th:text="${form.name}"></td>
    <td th:text="${form.surname}"></td>
    <td th:text="${form.requestText}"></td>
  </tr>
  </tbody>
</table>
<a class="btn btn-primary" th:href="@{/}">Back to Contact Us form</a>
</body>

</html>

