<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
  <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
  <title>ContactApp</title>
</head>
<body>
<div class="container">
  <h1 class="alert alert-success">Success</h1>
  <a class="btn btn-primary" th:href="@{/}">Submit another form here</a>
  <br>
  <br>
  <br>
  <a class="btn btn-primary" th:href="@{/allForms}">Review submitted forms here</a>
</div>
</body>
</html>